@page "/"
@attribute [StreamRendering]
@inject OrleansPoC.UI.Services.WebApiService _service;

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<div class="container mt-5">
    <div class="row">
        <!-- Primeira coluna -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Customer</h5>
                    <form>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input @bind="_name" type="text" class="form-control" id="name" placeholder="Customer Name">
                        </div>
                        <div class="form-group">
                            <label for="stocks">Stocks:</label>
                            <input @bind="_stockNames" type="text" class="form-control" id="stocks" placeholder="Stocks">
                        </div>
                        <button @bind="async () => await Load())" type="submit" class="btn btn-primary">Load</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Segunda coluna -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Stocks</h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Stock</th>
                            <th scope="col">Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var stock in _stocks.Values.OrderBy(s => s.Name))
                        {
                            <tr>
                                <td>@stock.Name</td>
                                <td>$@stock.Value</td>
                            </tr> 
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

    private string _name = string.Empty;
    private string _stockNames = string.Empty;
    private Dictionary<string, Models.Stock> _stocks = new();

    private async Task Load()
    {
        var stockNames = _stockNames.Split(",").Select(s => s.Trim()).ToArray();
        var customer = await _service.CreateCustomerAsync(_name, stockNames);
        await _service.GetStocksAsync(customer.Id, (stock) =>
        {
            _stocks[stock.Name] = stock;
        });
        Console.WriteLine("Load");
    }
}